@use '_functions' as *;

:root {
    --accent-color-primary: rgb(149, 226, 250);
    --accent-color-secondary: rgb(249, 250, 226);
    --section-bdrd: rem(10);
}

body {
    font-family: 'Montserrat', sans-serif;

    img {
        object-fit: contain;
        max-width: 100%;
    }
}

[class*='__container'] {
    max-width: calc(rem(1298) + 15px * 2);
    padding: 0 15px;
    margin: 0 auto;
}

button.button {
    background-color: var(--accent-color-primary);
    border-radius: rem(50);
    padding: rem(21) rem(35);

    color: black;
    font-size: rem(18);
    font-weight: 400;
    line-height: 0.97;
    text-align: center;
    text-transform: uppercase;

    &._btn-v2 {
        background-color: white;
        color: black;
    }
}

h1 {
    font-size: clamp(2rem, calc(0.85rem + 4.34vw), 3.94rem); // 425-1140px | 32-63px
    font-weight: 800;
    line-height: 0.95;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

h2 {
    font-size: clamp(1.63rem, calc(0.36rem + 4.76vw), 3.75rem); // 425-1140px | 26-60px
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

h3 {
    font-size: clamp(1.5rem, calc(0.68rem + 3.08vw), 2.88rem); // 425-1140px | 24-46px
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

h6 {
    font-size: clamp(1.25rem, calc(0.99rem + 0.98vw), 1.69rem); // 425-1140px | 20-27px
    line-height: 1.2;
    font-weight: 400;
}

p {
    font-size: clamp(1rem, calc(0.85rem + 0.56vw), 1.25rem); // 425-1140px | 16-20px
    line-height: 1.2;
    font-weight: 400;
}
